In [17]:
# Initial imports
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [47]:
#Import data
# set the file path
file_path = Path("Data/LA_CPI_apparel.csv")
file_path_2= Path("Data/LA_CPI_foodaway.csv")
file_path_3= Path("Data/LA_CPI_housing.csv")

# create a Pandas dataframe from a csv file
apparel_df = pd.read_csv(file_path)
foodaway_df = pd.read_csv(file_path_2)
housing_df = pd.read_csv(file_path_3)
housing_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,2012,288.915,289.660,290.936,291.511,292.280,292.729,293.165,293.548,293.979,294.332,294.580,295.019,292.554,291.005,294.104
1,2013,295.013,295.468,295.811,296.433,297.487,297.973,298.280,298.911,299.477,299.905,300.434,300.730,297.994,296.364,299.623
2,2014,301.367,302.079,301.907,302.351,302.717,303.586,304.888,305.757,306.388,307.260,308.346,308.746,304.616,302.335,306.898
3,2015,309.380,310.319,311.712,312.195,313.094,314.217,315.232,316.270,316.513,317.756,318.482,320.054,314.602,311.820,317.385
4,2016,321.164,322.208,323.991,324.650,326.181,327.527,329.324,330.770,331.974,332.895,334.464,335.713,328.405,324.287,332.523
5,2017,337.578,338.948,339.298,340.053,340.212,341.127,343.367,345.138,346.393,347.782,349.168,350.535,343.300,339.536,347.064
6,2018,352.105,353.312,355.088,357.704,358.720,360.256,361.275,362.689,364.472,365.422,366.553,367.809,360.450,356.198,364.703
7,2019,369.273,371.721,373.243,375.044,375.847,378.219,379.309,380.646,381.810,382.502,383.988,384.936,378.045,373.891,382.199
8,2020,385.716,386.791,387.550,389.549,390.454,391.436,391.998,392.106,391.975,391.950,390.986,391.023,390.128,388.583,391.673
9,2021,391.579,392.349,392.204,391.592,392.612,394.211,395.208,395.784,396.108,397.148,399.284,400.484,394.880,392.425,397.336

In [48]:
#Select Annual Data for each dataframe
apparel_df = apparel_df['Annual']
foodaway_df = foodaway_df['Annual']
housing_df = housing_df['Annual']

In [26]:
#Rename the columns
apparel_df= apparel_df.rename(columns={"Annual":"Apparel CPI"})
foodaway_df = foodaway_df.rename(columns={"Annual":"Food Away From Home"})
housing_df= housing_df.rename(columns={"Annual":"Owners equiv rent"})

In [29]:
#Concatenate the dataframes from 2018-2021

combined_df = pd.concat([apparel_df, foodaway_df, housing_df], axis='columns', join='inner')
combined_df

   Apparel CPI  Food Away From Home  Owners equiv rent
0      113.558              220.626            292.554
1      111.437              222.293            297.994
2      112.860              228.346            304.616
3      109.845              234.689            314.602
4      111.096              243.517            328.405
5      106.918              252.992            343.300
6      109.141              262.108            360.450
7      108.453              275.222            378.045
8      108.200              289.773            390.128
9      110.066              302.717            394.880